/*****************
GENERAL
******************/
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
  color: #2f2d2d; }

.wrapper {
  width: 90%;
  max-width: 1366px;
  background-color: #FFF;
  text-align: center; }

body,
header,
footer {
  background-color: #f8f8f8; }

h1 {
  color: #267195;
  margin-top: 0;
  padding-top: 15px; }

h2 {
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 16px; }

h3 {
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold; }

img {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2); }

a:link {
  text-decoration: none; }

a:hover {
  color: #267195; }

/*** Clearfix ***/
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

/*****************
HEADER
******************/
@media (min-width: 1024px) {
  .name {
    float: left; } }

.name-and-nav {
  padding: 5px 0 40px 0; }

.main-nav li:last-child {
  padding-right: 0; }

.main-nav li {
  background: #FFF;
  font-weight: 700;
  font-size: .9em;
  margin: 5px auto;
  list-style: none;
  padding: 10px 0;
  text-transform: uppercase; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .main-nav li {
      background: none;
      padding-left: 15px;
      padding-right: 15px;
      display: inline-block; } }
  @media (min-width: 1024px) {
    .main-nav li {
      padding-top: 15px;
      float: right; } }

.main-nav li a {
  display: inline-block;
  width: 100%; }

.profile-image-container {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .profile-image-container {
      float: right;
      width: 40%;
      padding-bottom: 30px; } }

.profile-image {
  width: 100%; }

.intro {
  margin: 0 auto;
  padding-bottom: 40px;
  width: 90%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro {
      float: left;
      text-align: left;
      padding-right: 10px;
      width: 60%; } }

/*****************
MAIN BODY
******************/
.content {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 30px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .content-block {
    display: inline-block;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top; } }
@media (min-width: 1024px) {
  .content-block {
    width: 33.33%; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .content-block p {
    width: 75%;
    margin: 0 auto; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .content-block p h3 {
    padding-bottom: 10px;
    margin: 0 auto; } }

.content p {
  width: 95%;
  padding-bottom: 30px; }

.content img {
  width: 100%; }

/*****************
FOOTER
******************/
footer {
  padding-top: 20px; }

footer p {
  padding: 10px 0; }

footer h2 {
  padding: 20px 0; }

.footer-info {
  padding-bottom: 30px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .footer-info {
      width: 60%; } }

.footer-info a:link {
  font-weight: bold; }

hr {
  margin: 0 auto;
  opacity: .3; }

.footer-nav p {
  padding: 20px 0; }

.footer-nav-name {
  float: left;
  font-weight: bold; }

.footer-min-nav {
  float: right; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .footer-min-nav {
      display: none; } }

.footer-main-nav {
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .footer-main-nav {
      display: inline-block;
      padding: 20px 0;
      float: right; } }

/*# sourceMappingURL=style.css.map */
