$font-family: "Raleway", sans-serif;
$color: #2f2d2d;
$heading-color: rgb(38, 113, 149);
$hover-color: rgb(38, 113, 149);
$font-size: 16px;
$h3-font-size: 18px;
$color-background: rgb(248,248,248);
$color-section: #FFF;

%center-things {
    margin: 0 auto;
    text-align: center;
}
